{:deps {scicloj/Clojuratica {:git/url "https://github.com/scicloj/Clojuratica"
                             :sha     "4ecf920f978c567d0425573073ed1806ed2453e8"}
        metasoarous/oz {:mvn/version "1.6.0-alpha36"}}}
